.parte2{
    margin-top: 5%;
}

.parte2 .cont2{
    display: flex;
    filter: blur(10px);
    transform: scale(0.5);
    border-radius: 100%;
    transition: 0.5s;
}

.parte2 .info2{
    justify-content: space-evenly;
    width: 100%;
    padding: 15% 0;
    cursor: context-menu;
    color: rgb(255, 255, 255);
    background-color: rgb(7, 25, 82, 0.6);
    box-shadow: inset -10px -100px 150px rgb(151, 254, 237);
    filter: blur(0);
    transform: scale(1.0);
    border-radius: 20px;
    transition: 0.5s;
}

.parte2 .descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 50%;
    text-shadow: 0px 10px 5px #000000;
}

.parte2 .sliderr{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parte2 h1{
    text-align: center;
    color: #ffffff;
    font-size: 250%;
    margin: -10% 0 5% 0;
    text-shadow: 1px 1px 20px #000000;
}


@media(max-width: 900px){
    .parte2 .info2{
        flex-direction: column;
        align-items: center;
        border-radius: 10px 10px 10px 10px;
    }

    .parte2 .cont2{
        display: flex;
        flex-direction: column;
    }

    .parte2 .descripcion{
        width: 95%;
    }

    .parte2 h1{
        margin: 0 0 10% 0;
        font-size: 200%;
    }

    .parte2 .sliderr{
        width: 95%;
    }
}