.Container{
    padding: 10% 0 0 0;
    width: 100%;
}

.contenedor{
    display: flex;
    padding: 2% 0;
    width: 100%;
    cursor: context-menu;
    color: rgb(0, 0, 0);
    border-radius: 10px 50px 10px 50px;
    background-color: rgb(255, 255, 255, 0.9);
}

.top{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 2%;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

h1{
    font-size: 250%;
    text-shadow: 0px 1px 5px #000000;
}

img{
    width: 40%;
    border-radius: 10px;
    border: solid 2px #000000;
}

.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

@media(max-width: 900px){
    .contenedor{
        flex-direction: column;
    }

    .top{
        padding: 0 2% 5% 2%;
        width: 95%;
        text-align: justify;
    }

    .imagen{
        width: 100%;
    }

    h1{
        font-size: 200%;
    }
}