nav{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 0 5% 0;
    position: fixed;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 50%;
    background-color: rgba(255, 255, 255);
    filter: blur(0.3px);
    transition: all 300ms;
    border-radius: 0 0 10px 10px;
}

.nav li{
    list-style: none;
    z-index: 1;
    width: 300%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav li a{
    padding: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    transition: all 300ms;
}

.nav li a:hover{
    color: rgb(0, 0, 0);
    border-radius: 0 50px 0 50px;
    padding: 10% 0%;
    background-color:rgb(93, 188, 251);
    cursor: pointer;
    transition: all 600ms;
}

@media(max-width: 900px){
    nav{
        display: none;
    }
}