.Pro{
    width: 35%;
    height: auto;
    transition: all 800ms;
    padding: 1% 0% 5% 0%;
    margin: 0 5% 0% 7%;
    border-radius: 10px;
    display: inline-block;
    color: rgb(0, 0, 0);
}.Pro:hover{
    background-color: rgba(255, 255, 255);
    transition: all 800ms;
    border-radius: 50px 10px 50px 10px;
}

.Pro .infProyect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.Pro img{
    width: 100%;
    border-radius: 50%;
}

.Pro a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Pro .descripProyect{
    text-align: center;
}

.Pro .infProyect .iconos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.Pro .infProyect .iconos a{
    font-size: 150%;
}


@media(max-width: 800px){
    .Pro{
        width: 100%;
        margin: 0 0 10% 0;
    }
}
