.framework{
    width: 100%;
    margin: 2% 0 0 0;
    transition: all 300ms;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}.framework:hover{
    background-color: rgb(151, 254, 237);
    transition: all 300ms;
    border-radius: 100px 0 100px 0;
}

.framework h4{
    color: rgb(0, 0, 0);
}

.framework img{
    width: 20%;
}

